@import url('http://fonts.cdnfonts.com/css/dejavu-sans');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'DejaVu Sans', sans-serif;
  font-size: medium;
}

@layer utilities {
  .h-120 {
    height: 120px;
  }
  .min-w-60 {
    min-width: 60px;
  }
  .max-w-120 {
    max-width: 120px;
  }
}

::-webkit-scrollbar {
  padding: 10px;
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #d8d9e2ad, transparent);
  border-radius: 8pxs;
  overflow-y: hidden;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, white, transparent);
}
