@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  padding: 10px;
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #d8d9e2ad, transparent);
  border-radius: 8pxs;
  overflow-y: hidden;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, white, transparent);
}
