@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .h-112 {
    height: 112px;
  }
  .w-112 {
    width: 112px;
  }
}

::-webkit-scrollbar {
  padding: 10px;
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #d8d9e2ad, transparent);
  border-radius: 8pxs;
  overflow-y: hidden;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, white, transparent);
}
